<p id="notice"><%= notice %></p>

<div class="welcome">
   <h1>Welcome back <%= @current_user.name %></h1>
   <div class="bottom-buttons">
    <div class="button"><%= link_to 'New Record', new_record_path %></div>
    <div style="clear:both"></div>
  </div> <!-- bottom-buttons -->
</div> <!-- welcome -->

<% @records.each do |record| %>
<article class="index">
  <div class="box-link">
  <%= link_to image_tag("link.png"), record %>
  </div>
  <h1><%= record.unhealthy_thought_type.name %> <i class="fa fa-arrow-right"></i> <%= record.healthy_thought_type.name %>
    <% if record.star.present? %>
      <sup><i class="fa fa-star"></i></sup>
    <% end %>
  </h1>
  <p>
    <strong>From:</strong> <%= record.event %><br>
    <strong>To:</strong> <%= record.reframe_statement %><br>
    <span class="timestamp"><%= time_ago_in_words(record.date) %> ago</span></br>
  </p>
</article>
<% end %>


<hr>
<div style="background-color: beige; width: 30%;">
  <h3>Most Frequently Expereinced Thought Types</h3>
  <p>
  <% if @experienced_unhealthy_thought_types == nil %>
  sql not working
  <% else %>
  <ol>
    <% @experienced_unhealthy_thought_types.each do |eutt| %>
    <li><%= eutt.name %></li>
    <% end %>
  </ol>
  <% end %>
  </p>
</div>
