<article class="show">

  <p id="notice"><%= notice %></p>
  <p>Remapping Record Details -- USER: <%= @record.user.name %></p>
  <h1><%= @record.unhealthy_thought_type.name %> <i class="fa fa-arrow-right"></i> <%= @record.healthy_thought_type.name %>
    <% if @record.star.present? %>
      <sup><i class="fa fa-star"></i></sup>
    <% end %>
  </h1>

  <p><%= @record.date %></p>

  <h2>Trigger Event:</h2>
  <p><%= @record.event %></p>

  <h2>Thought About the Event:</h2>
  <p><%= @record.thought_about_event %></p>

    <h2>Feeling about thought:</h2>
    <p><%= @record.feeling_about_thought %></p>

    <h2>Unhealthy action:</h2>
    <p><%= @record.unhealthy_action %></p>

    <h2>Unhealthy thought type:</h2>
    <p><%= @record.unhealthy_thought_type.name %> (<%= @record.unhealthy_thought_type.explanation %>)</p>

    <h2>Healthy Thought Type:</h2>
    <p><%= @record.healthy_thought_type.name %> (<%= @record.healthy_thought_type.explanation %>)</p>

    <h2>Reframe Statement:</h2>
    <p><%= @record.reframe_statement %></p>

    <h2>Healthy action:</h2>
    <p><%= @record.healthy_action %></p>

</article>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Destroy', @record, method: :delete, data: { confirm: 'Are you sure you want to delete this record? This cannot be undone.' } %> |
<%= link_to 'Back', records_path %>
