<%= form_for(@unhealthy_thought_type) do |f| %>
  <% if @unhealthy_thought_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@unhealthy_thought_type.errors.count, "error") %> prohibited this unhealthy_thought_type from being saved:</h2>

      <ul>
      <% @unhealthy_thought_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :explanation %><br>
    <%= f.text_field :explanation %>
  </div>
  <div class="field">
    <%= f.label :example %><br>
    <%= f.text_area :example %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
